
body {
    font-family: "SF Mono" !important;

    background-color: rgb(255, 255, 255) !important;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#favicon-nav {
    height: 40px;
    margin-left: 20px;
}

nav {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: rgb(40,40,40);

}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}



nav ul {
    height: 50px;
    list-style-type: none;
    margin: 0 0;
    display: flex;
    justify-content: start;
    align-items: center;


}

nav ul li {
    display: flex;
    margin: 0px 20px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aquamarine-text {
    color: aquamarine;
}

.problems {
    border-bottom: 3px solid white;
}

.learning {
    border-bottom: 3px solid white;
}

.home {
    border-bottom: 3px solid white;
}


.problems a {
     color: aquamarine; 
}

.learning a {
    color: aquamarine;
}

.home a {
    color: aquamarine;
}

a:hover {
    color: burlywood;
}

#navToggle {
    display: none;
    color: antiquewhite;
    background-color: rgb(40,40,40);
    border: none;
    height: 40px;
    width: 40px;
}

@media (min-width: 300px) and (max-width: 399px) {
    #title {
        font-size: 33px !important;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    #title {
        font-size: 40px !important;
    }
}

@media (max-width: 575px) {

    .menu {
        position: absolute;
        right: 10px;
    }

    #navToggle {
        display: block;
    }

    .menu .nav-item {
        display: none;
    }
}

@keyframes show {
    from {
        top: 35px;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 1;
    }
}

@keyframes hide {
    from {
        top: 50px;
        opacity: 1;
    }
    to {
        top: 35px;
        opacity: 0;
    }
}

#toggleMenu {
    background-color: rgb(50,50,50);
    /* height: 300px; */
    width: 180px;
    position: absolute;
    right: 0;
    display: none;

    animation-duration: 0.7s;
  
}

#toggleMenu a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#toggleMenu .home a {
    color: aquamarine;
}

#toggleMenu .problems a {
    color: aquamarine;
}

#toggleMenu .learning a {
    color: aquamarine;
}

#toggleMenu a:hover {
    color: burlywood;
}

#toggleMenu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    padding: 0;
    margin: 0;
}

#toggleMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid rgb(40, 40, 40);
}


#background {
    /* background-image: url(/img/wallpaper/sunset_minimal_landscape_4k.jpg); */
    /* background-image: url(/img/wallpaper/night-fairycore-forest-desktop-wallpaper.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 654px; */
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: auto;
    flex-direction: column;

    transition: background-image 0.5s ease;

    font-family: segoe ui,lucida grande,Arial,sans-serif;
    letter-spacing: 8px;
}

#title {
    color: white;
    text-transform: uppercase;
    font-size: 55px;
    /* font-family: segoe ui,lucida grande,Arial,sans-serif; */
    
    /* text-shadow: 5px 5px 3px aquamarine; */
    text-align: center;
    -webkit-text-stroke: 1px rgb(52, 45, 45);
    transition: 
        color 0.5s ease,
        text-shadow 0.5s ease;
    
}

#scroll {
    background: none;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px 9px;
    font-size: 25px;

    transition:
        background 0.7s,
        border-color 0.7s;
}

#scroll:hover {
    background-color: #8f78eb;
    border-color: #8f78eb;

}

#introduction {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    /* background-image: url(/img/wallpaper/mountain_landscape9_generated.jpg); */
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
    position: relative;
}

#introduction h4 {
    font-size: 100%;
    /* text-align: center; */
    text-transform: uppercase;
    width: 14ch;

    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000;
    animation:
        typing 3s steps(14) infinite alternate,
        cursor 0.4s step-end infinite alternate;  
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
    
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
    /* Thêm delay 2 giây giữa mỗi lần lặp */
    101% {
        width: 0;
        animation-delay: 3s;
    }
    
}

#introduction h6 {
    /* font-size: 25px; */
    font-size: 60%;
    /* text-align: center; */
    
   
}

.introduction-img {
    border-radius: 48% 52% 100% 0% / 65% 30% 70% 35% ;
    background-color: #efe3e3;
    height: 200%;
    width: 100%;
    transform: rotate(15deg);
    position: absolute;
    left: 55%;
    overflow: hidden;

    border: 7px solid teal;
}

.introduction-img img {
    transform: rotate(-15deg);
    /* height: 80%; */
    position: absolute;
    /* left: -200px; */
}

#introduction .text {
    margin-bottom: -200px;
}

@media (max-width: 700px) {
    #introduction .text {
        margin-bottom: 200px;
    }

    #introduction h4 {
        font-size: 120%;
    }

    #introduction h6 {
        font-size: 80%;
    }
}

#introduction .text a {
    text-decoration: none;
    color: black;
}

.avt {
    border-radius: 43% 57% 51% 49% / 56% 48% 52% 44% ;
    height: 280px;
    width: 290px;
    background: linear-gradient(to right, #ffcc00, #ff6139);
    position: relative;
    left: 30%;
    bottom: 10%;
}

.avt img {
    width: 350px;
    position: relative;
    left: -10px;
}

@media (max-width: 500px) {
    .avt {
        width: 200px;
        height: 190px;
        left: 10%;
        bottom: 25%;
    }

    .avt img {
        width: 250px;
    }
}

.container-fluid {
    /* font-weight: bold; */
    padding-top: 50px;
    /* font-size: 30px; */
    font-family: segoe ui,lucida grande,Arial,sans-serif;
}

#difficult {
    border-bottom: 1px solid rgb(77,77,77);
}

#topic {
    border: 1px solid rgb(77, 77, 77); 
    border-top: none;
}

@media (max-width: 991px) {
    #difficult {
        border: 1px solid rgb(77,77,77);
        border-top: none;
        border-bottom: none;
    }

    #topic {
        border-top: 1px solid rgb(77, 77, 77);
    }
}

.border-problem {
    border: 1px solid rgb(77,77,77);
}

.text-easy {
    color: rgb(80, 217, 183);
    filter: contrast();
}

.fs-22 {
    font-size: 22px;
}

.fs-18 {
    font-size: 18px;
}

.fs-15 {
    font-size: 15px;
}

.border-problem_list {
    border-top: 1px solid rgb(77, 77, 77);
}

.topic-problem {
    padding: 3px 10px;
     margin: 3px;
    background-color: rgba(128, 128, 128, 0.3);
}